@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #252B48;
    color: #727880;
    background-image: url(i);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Adjust z-index to ensure visibility */
}

.logo {
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-weight: 700;
}

.navbar a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    transition: color 0.3s ease; /* Simplified transition */
}

.navbar a:hover,
.navbar a.active {
    color: #461959;
}

.home {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.home-content {
    width: 40%;
    margin-right: 10%;
    padding: 50px;
}

.home-content h1{
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #7A316F;
}

.home-content h3{
    font-size: 30px;
    font-weight: 500px;
    margin-bottom: 20px;
    color: white;
}

.home-img{
    height: 400px;
    margin-left: 10%;
    padding-right: 250px;
}

.home-content .btn-box{
    justify-content: space-between;
    display: flex;
    width: 350px;
    height: 50px;
    margin-top: 20px;
}

.btn-box a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #7A316F;
    color: white;
    border: 2px solid #7A316F;
    border-radius: 8px;
    text-decoration: none;
    font-size: 17px;
    letter-spacing: 1px;
    transition: 0.5s;
}

.btn-box a:hover{
    background:#252B48;
    color: white;
}

.home-sci {
    position: absolute;
    margin-top: 30px;
    width: 150px;
    justify-content: space-between;
    display: flex;
    z-index: 1000; /* Adjust z-index to ensure visibility */
    margin: 10px ;
    border-radius: 50%;
    
}

.home-sci a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 40px;
    background: transparent;
    border: 2px solid #7A316F;
    border-radius: 50%;
    color: #7A316F;
    text-decoration: none;
    font-size: 24px; /* Increased icon size */
    transition: transform 0.2s, border-color 0.2s; /* Added transition for hover effect */
}

.home-sci a:hover {
    transform: scale(1.2); /* Scale up by 10% on hover */
    border-style:solid;/* Change border color on hover */
}